0 2 * * * docker rm $(docker ps -aq)
1 2 * * * yes | docker system prune

0 * * * * docker pull philsnyder/synapsebridgehelpers:latest
* * * * * docker run --rm philsnyder/synapsebridgehelpers:latest Rscript /root/synapsebridgehelpers/scripts/create_participant_account.R --inputTable syn25796203 --outputTable syn25796212 --app sage-mpower-2 --bridgeEmail 'phil.snyder[att]sagebase.org' --bridgePassword '' --synapseEmail 'phil.snyder[att]sagebase.org' --synapsePassword '' --study 'stepwise' --participantIdentifier externalId --phone phone_number --regionCode NL --dataGroups 'show_heartsnapshot,gr_SC_CS,gr_BR_AD,gr_DT_F,gr_ST_F' --statusField status --logField logs --supportEmail 'stepwise_support[att]synapse.org'
